<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1 style="text-align: center">SIX's Development</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="well">Placeholder</div>
        </div>
        <div class="col">
          <div class="well">Placeholder</div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
